pcoulibaly-formula1-project/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pcoulibaly-formula1-project"
		},
		"trigger_every_15_minutes_properties_pipeline_parameters_FolderPath_Source": {
			"type": "string",
			"defaultValue": "datakind"
		},
		"trigger_every_15_minutes_properties_pipeline_parameters_Directory_Source": {
			"type": "string",
			"defaultValue": "raw"
		},
		"trigger_every_15_minutes_properties_pipeline_parameters_FolderPath_Destination": {
			"type": "string",
			"defaultValue": "datakind"
		},
		"trigger_every_15_minutes_properties_pipeline_parameters_Directory_Destination": {
			"type": "string",
			"defaultValue": "target"
		},
		"trigger_every_15_minutes_properties_pipeline_parameters_LastModified_From": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"trigger_every_15_minutes_properties_pipeline_parameters_LastModified_To": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/KenftsFundingGlobalCluster')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "ds_KenftsFundingGlobalCluster_target",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> ds_KenftsFundingGlobalCluster_target",
							"dataset": {
								"referenceName": "ds_KenftsFundingGlobalCluster_target",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared ds_KenftsFundingGlobalCluster_target = let AdfDoc = AzureStorage.BlobContents(\"https://pcoulibalystorageaccount.blob.core.windows.net/datakind/target/ds_KenftsFundingGlobalCluster.csv\"),Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared UserQuery = let\r\n  Source = ds_KenftsFundingGlobalCluster_target,\r\n  #\"Replaced value\" = Table.ReplaceValue(Source, \"\", null, Replacer.ReplaceValue, {\"two\"}),\r\n  #\"Added custom\" = Table.Profile(#\"Replaced value\"),\r\n  #\"Changed column type\" = Table.TransformColumnTypes(#\"Added custom\", {{\"NullCount\", Int64.Type}}),\r\n  #\"Filtered rows\" = Table.SelectRows(#\"Changed column type\", each [NullCount] = 0),\r\n  Custom = Source,\r\n  #\"Replaced value 1\" = Table.ReplaceValue(Custom, \"\", \"Not provided\", Replacer.ReplaceValue, {\"countryCode\"}),\r\n  #\"Replaced value 2\" = Table.ReplaceValue(#\"Replaced value 1\", \"\", \"Not provided\", Replacer.ReplaceValue, {\"clusterCode\", \"requirements\"}),\r\n  #\"Replaced value 3\" = Table.ReplaceValue(#\"Replaced value 2\", \"\", \"Not provided\", Replacer.ReplaceValue, {\"percentFunded\", \"funding\"}),\r\n  #\"Removed top rows\" = Table.Skip(#\"Replaced value 3\", 1)\r\nin\r\n  #\"Removed top rows\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenftsFundingGlobalClusterDF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "tobecleaned"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_KenftsFundingGlobalCluster_target",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "KenftsFundingGlobalCluster_dfsink",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "split1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          countryCode as string,",
						"          id as short,",
						"          name as string,",
						"          code as string,",
						"          startDate as date,",
						"          endDate as date,",
						"          year as short,",
						"          clusterCode as short,",
						"          cluster as string,",
						"          requirements as integer,",
						"          funding as integer,",
						"          percentFunded as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Nulls, good)",
						"split1@good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          date as string,",
						"          admin1 as string,",
						"          market as string,",
						"          latitude as string,",
						"          longitude as string,",
						"          category as string,",
						"          commodity as string,",
						"          unit as string,",
						"          priceflag as string,",
						"          pricetype as string,",
						"          currency as string,",
						"          price as string,",
						"          usdprice as string",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink2"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenftsReqFunding')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "ds_KenftsReqFundingTarget",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> ds_KenftsReqFundingTarget",
							"dataset": {
								"referenceName": "ds_KenftsReqFundingTarget",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared ds_KenftsReqFundingTarget = let AdfDoc = AzureStorage.BlobContents(\"https://pcoulibalystorageaccount.blob.core.windows.net/datakind/target/KenftsReqFunding\"),Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared UserQuery = let Source = #\"ds_KenftsReqFundingTarget\",\r\n  #\"Removed top rows\" = Table.Skip(Source, 1) in #\"Removed top rows\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenftsReqFundingDF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "KenftsReqFundingPQ",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_KenftsReqFunding_dfTarget",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          countryCode as string,",
						"          id as short,",
						"          name as string,",
						"          code as string,",
						"          typeId as short,",
						"          typeName as string,",
						"          startDate as date,",
						"          endDate as date,",
						"          year as short,",
						"          requirements as integer,",
						"          funding as integer,",
						"          percentFunded as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          countryCode as string,",
						"          id as string,",
						"          name as string,",
						"          code as string,",
						"          startDate as string,",
						"          endDate as string,",
						"          year as string,",
						"          clusterCode as string,",
						"          cluster as string,",
						"          requirements as string,",
						"          funding as string,",
						"          percentFunded as string",
						"     ),",
						"     filePattern:'KenftsReqFunding_dfTarget',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenFoodPricesDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenfoodPricesSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_datakinddb",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "ken_foodprices"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenFoodPricesDFDB')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "tobecleaned"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_KenFoodPrices_df_target",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakinddb",
								"type": "DatasetReference"
							},
							"name": "sink2",
							"description": "Export data to ds_KenFoodPrices_dfsink. This is because HTTP won't work with dataflow. So the data sink from pipeline2 is used in the DF for transformation purposes and then sent to the same sink with a different name"
						}
					],
					"transformations": [
						{
							"name": "split1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          date as string,",
						"          admin1 as string,",
						"          admin2 as string,",
						"          market as string,",
						"          latitude as string,",
						"          longitude as string,",
						"          category as string,",
						"          commodity as string,",
						"          unit as string,",
						"          priceflag as string,",
						"          pricetype as string,",
						"          currency as string,",
						"          price as string,",
						"          usdprice as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Nulls, Good)",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink2"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Main HealthFacilities Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SomHealthFacilities",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_SomHealthFacilities",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute KenHealthFacilities",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_KenHealthFacilities",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Execute SomHealthFacilities",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Execute KenHealthFacilities",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "HealthFacilitiesJoinedDF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Kept"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenFoodPrices')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "#date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#adm1+name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#adm1+name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#adm2+name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#adm2+name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#loc+market+name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#loc+market+name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#geo+lat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#geo+lat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#geo+lon",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#geo+lon",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#item+type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#item+type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#item+name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#item+name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#item+unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#item+unit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#item+price+flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#item+price+flag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#item+price+type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#item+price+type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#currency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#value",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#value+usd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#value+usd",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenfoodPricesSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_KenFoodPrices_target",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Power Query1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenFoodPricesDF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink2": {
										"Filename": "KenFoodPrices"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Power Query1",
						"type": "ExecuteWranglingDataflow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenFoodPrices",
								"type": "DataFlowReference",
								"datasetParameters": {
									"ds_KenFoodPrices_df_target": {},
									"UserQuerydsKenFoodPricesdftarget": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"queries": [
								{
									"queryName": "UserQuery",
									"dataflowSinks": [
										{
											"name": "UserQuerydsKenFoodPricesdftarget",
											"dataset": {
												"referenceName": "ds_KenFoodPrices_df_target",
												"type": "DatasetReference",
												"parameters": {}
											},
											"script": "sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tdate as string,\n\t\tadmin1 as string,\n\t\tadmin2 as string,\n\t\tmarket as string,\n\t\tlatitude as string,\n\t\tlongitude as string,\n\t\tcategory as string,\n\t\tcommodity as string,\n\t\tunit as string,\n\t\tpriceflag as string,\n\t\tpricetype as string,\n\t\tcurrency as string,\n\t\tprice as string,\n\t\tusdprice as string\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> UserQuerydsKenFoodPricesdftarget"
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"Dataoutput": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenftsFundingClusterSrc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsFundingClusterSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_KenftsFundingCluster_target",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data flow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenftsFundingClusterDF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenftsReqFunding')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "countryCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "countryCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "typeId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "typeId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "typeName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "typeName",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "startDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "startDate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "endDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "endDate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "requirements",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "requirements",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "funding",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "funding",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "percentFunded",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "percentFunded",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsReqFundingSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_KenftsReqFundingTarget",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Power Query1",
						"type": "ExecuteWranglingDataflow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenftsReqFunding",
								"type": "DataFlowReference",
								"datasetParameters": {
									"ds_KenftsReqFundingTarget": {},
									"UserQueryKenftsReqFundingPQ": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"queries": [
								{
									"queryName": "UserQuery",
									"dataflowSinks": [
										{
											"name": "UserQueryKenftsReqFundingPQ",
											"dataset": {
												"referenceName": "KenftsReqFundingPQ",
												"type": "DatasetReference",
												"parameters": {}
											},
											"script": "sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tcountryCode as string,\n\t\tid as string,\n\t\tname as string,\n\t\tcode as string,\n\t\ttypeId as string,\n\t\ttypeName as string,\n\t\tstartDate as string,\n\t\tendDate as string,\n\t\tyear as string,\n\t\trequirements as string,\n\t\tfunding as string,\n\t\tpercentFunded as string\n\t),\n\tpartitionFileNames:['KenftsReqFundingPQ'],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tpartitionBy('hash', 1)) ~> UserQueryKenftsReqFundingPQ"
										}
									]
								}
							]
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Power Query1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenftsReqFundingDF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Kept"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/KenftsReqFunding')]",
				"[concat(variables('factoryId'), '/dataflows/KenftsReqFundingDF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ds_KenftsFundingGlobalClusterSrc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 1
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "KEN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KEN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1137",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1137",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Kenya Drought Response Plan 2023",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Kenya Drought Response Plan 2023",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FKEN23",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FKEN23",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2023-01-01",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2023-01-01",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2023-12-31",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2023-12-31",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2023",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2023",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Prop_7",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Prop_7",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Not specified",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Not specified",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Prop_9",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Prop_9",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Prop_10",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Prop_10",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsFundingGlobalClusterSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_KenftsFundingGlobalCluster_target",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Power Query1",
						"type": "ExecuteWranglingDataflow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenftsFundingGlobalCluster",
								"type": "DataFlowReference",
								"datasetParameters": {
									"ds_KenftsFundingGlobalCluster_target": {},
									"UserQuerypqKenftsFundingGlobalCluster": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"queries": [
								{
									"queryName": "UserQuery",
									"dataflowSinks": [
										{
											"name": "UserQuerypqKenftsFundingGlobalCluster",
											"dataset": {
												"referenceName": "pq_KenftsFundingGlobalCluster",
												"type": "DatasetReference",
												"parameters": {}
											},
											"script": "sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> UserQuerypqKenftsFundingGlobalCluster"
										}
									]
								}
							]
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Power Query1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenftsFundingGlobalClusterDF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/KenftsFundingGlobalCluster')]",
				"[concat(variables('factoryId'), '/dataflows/KenftsFundingGlobalClusterDF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_every_15_minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "CopyNewFilesByLastModifiedDate",
						"type": "PipelineReference"
					},
					"parameters": {
						"FolderPath_Source": "[parameters('trigger_every_15_minutes_properties_pipeline_parameters_FolderPath_Source')]",
						"Directory_Source": "[parameters('trigger_every_15_minutes_properties_pipeline_parameters_Directory_Source')]",
						"FolderPath_Destination": "[parameters('trigger_every_15_minutes_properties_pipeline_parameters_FolderPath_Destination')]",
						"Directory_Destination": "[parameters('trigger_every_15_minutes_properties_pipeline_parameters_Directory_Destination')]",
						"LastModified_From": "[parameters('trigger_every_15_minutes_properties_pipeline_parameters_LastModified_From')]",
						"LastModified_To": "[parameters('trigger_every_15_minutes_properties_pipeline_parameters_LastModified_To')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 15,
					"startTime": "2023-01-09T14:03:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenFoodPricesDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "#date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#adm1+name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#adm1+name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#adm2+name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#adm2+name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#loc+market+name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#loc+market+name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#geo+lat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#geo+lat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#geo+lon",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#geo+lon",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#item+type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#item+type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#item+name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#item+name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#item+unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#item+unit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#item+price+flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#item+price+flag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#item+price+type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#item+price+type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#currency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#value",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "#value+usd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "#value+usd",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenfoodPricesSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_KenFoodPrices_target",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Power Query1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenFoodPricesDFDB",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink2": {
										"tableName": "DatakindTable"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Power Query1",
						"type": "ExecuteWranglingDataflow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenFoodPrices",
								"type": "DataFlowReference",
								"datasetParameters": {
									"ds_KenFoodPrices_df_target": {},
									"UserQuerydsKenFoodPricesdftarget": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"queries": [
								{
									"queryName": "UserQuery",
									"dataflowSinks": [
										{
											"name": "UserQuerydsKenFoodPricesdftarget",
											"dataset": {
												"referenceName": "ds_KenFoodPrices_df_target",
												"type": "DatasetReference",
												"parameters": {}
											},
											"script": "sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tdate as string,\n\t\tadmin1 as string,\n\t\tadmin2 as string,\n\t\tmarket as string,\n\t\tlatitude as string,\n\t\tlongitude as string,\n\t\tcategory as string,\n\t\tcommodity as string,\n\t\tunit as string,\n\t\tpriceflag as string,\n\t\tpricetype as string,\n\t\tcurrency as string,\n\t\tprice as string,\n\t\tusdprice as string\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> UserQuerydsKenFoodPricesdftarget"
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"Dataoutput": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/KenFoodPricesDFDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_KenFoodPrices')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_KenFoodPrices",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 15,
						"startTime": "2022-12-21T08:23:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_KenFoodPrices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HealthFacilitiesTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "Main HealthFacilities Pipeline",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2023-01-11T00:27:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Main HealthFacilities Pipeline')]"
			]
		}
	]
}