pc-datakind/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pc-datakind"
		},
		"datakind_test_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'datakind_test_ls'"
		},
		"ls_dataKindPostgres_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_dataKindPostgres'"
		},
		"ls_injectionsa_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_injectionsa'"
		},
		"ls_IPC_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://map.ipcinfo.org/api/public/"
		},
		"ls_fewsData_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://fdw.fews.net/api/marketpricefacts/"
		},
		"ls_fewsDataKenFoodSecurity_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://fdw.fews.net/api/ipcpackage/?country_code=KE&collection_date="
		},
		"ls_fewsDataSomFoodSecurity_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://fdw.fews.net/api/ipcpackage/?country_code=SO&collection_date="
		},
		"ls_hotosm_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://export.hotosm.org/downloads/"
		},
		"ls_humdata_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://data.humdata.org/dataset/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenFoodPrices')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "admin1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "admin1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "admin2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "admin2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "market",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "market",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "category",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "commodity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "commodity",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "priceflag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "priceflag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "pricetype",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pricetype",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "usdprice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "usdprice",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenfoodpriceSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_KenFoodPrice_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Power Query1",
						"type": "ExecuteWranglingDataflow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenFoodPrice",
								"type": "DataFlowReference",
								"datasetParameters": {
									"ds_KenFoodPrice_copied": {},
									"kenFoodPricePQ": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"queries": [
								{
									"queryName": "UserQuery",
									"dataflowSinks": [
										{
											"name": "kenFoodPricePQ",
											"dataset": {
												"referenceName": "ds_kenfoodprice_p",
												"type": "DatasetReference",
												"parameters": {}
											},
											"script": "sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['KenFoodPrice_PQ'],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tpartitionBy('hash', 1)) ~> kenFoodPricePQ"
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenfoodpriceSrc')]",
				"[concat(variables('factoryId'), '/datasets/ds_KenFoodPrice_copied')]",
				"[concat(variables('factoryId'), '/dataflows/KenFoodPrice')]",
				"[concat(variables('factoryId'), '/datasets/ds_kenfoodprice_p')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenAdminBoundariesSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya Binary"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "26801642-7088-4149-9605-6ae282897937/resource/bfe30344-5fb4-45dd-b1d1-565690aba5fc/download/ken_adminboundaries_tabulardata.xlsx"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenAdminDivShpSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya Binary"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "2c0b7571-4bef-4347-9b81-b2174c13f9ef/resource/03df9cbb-0b4f-4f22-9eb7-3cbd0157fd3d/download/ken_adm_iebc_20191031_shp.zip"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenFoodInsecuritySrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_IPC",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya Binary"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "population-tracking-tool/data/2017,2022/?export=true&condition=A&country=KE"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_IPC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenFoodPrice_DBTarget')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dataKindPostgres",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tableName": {
						"type": "string",
						"defaultValue": "kenfoodprice"
					}
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "public",
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dataKindPostgres')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenFoodSecurityShpSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_fewsDataKenFoodSecurity",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya Binary"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_fewsDataKenFoodSecurity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenHealthFacilitiesExcel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "7b9c2851-dc37-4a88-9dcb-62e55eb91baf/resource/df6bfc55-3b25-4309-a1b4-74afba434956/download/kenya-health-facilities-2017_08_02.xlsx"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Code",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Registration_number",
						"type": "String"
					},
					{
						"name": "Keph level",
						"type": "String"
					},
					{
						"name": "Facility type",
						"type": "String"
					},
					{
						"name": "Owner",
						"type": "String"
					},
					{
						"name": "Regulatory body",
						"type": "String"
					},
					{
						"name": "Beds",
						"type": "String"
					},
					{
						"name": "Cots",
						"type": "String"
					},
					{
						"name": "County",
						"type": "String"
					},
					{
						"name": "Constituency",
						"type": "String"
					},
					{
						"name": "Sub county",
						"type": "String"
					},
					{
						"name": "Ward",
						"type": "String"
					},
					{
						"name": "Operation status",
						"type": "String"
					},
					{
						"name": "Open_whole_day",
						"type": "String"
					},
					{
						"name": "Open_public_holidays",
						"type": "String"
					},
					{
						"name": "Open_weekends",
						"type": "String"
					},
					{
						"name": "Open_late_night",
						"type": "String"
					},
					{
						"name": "Service_names",
						"type": "String"
					},
					{
						"name": "Approved",
						"type": "String"
					},
					{
						"name": "Public visible",
						"type": "String"
					},
					{
						"name": "Closed",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenHealthIndicatorsSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "e849a312-8962-4595-ace8-500484490569/resource/daa8e9e1-4013-4075-a625-149317412a56/download/health_ken.csv/"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country Name",
						"type": "String"
					},
					{
						"name": "Country ISO3",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Indicator Name",
						"type": "String"
					},
					{
						"name": "Indicator Code",
						"type": "String"
					},
					{
						"name": "Value",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenPopulationStatistics2019Src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya Binary"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "26801642-7088-4149-9605-6ae282897937/resource/e57fb9a8-96dc-4a21-849b-1ddbc4ed7803/download/ken_admpop_2019.xlsx"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenRoadsSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_hotosm",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya Binary"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "6b3f8c4a-589d-4537-99e4-1518937c23a8/hotosm_ken_roads_lines_shp.zip"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_hotosm')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsFundingClusterSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "d0bf93aa-bc16-426b-b53b-c8c90fac98a4/resource/5b10afe9-cd6d-4dcf-9514-52890b3a776e/download/fts_requirements_funding_cluster_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "countryCode",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "startDate",
						"type": "String"
					},
					{
						"name": "endDate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "clusterCode",
						"type": "String"
					},
					{
						"name": "cluster",
						"type": "String"
					},
					{
						"name": "requirements",
						"type": "String"
					},
					{
						"name": "funding",
						"type": "String"
					},
					{
						"name": "percentFunded",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsFundingGlobalClusterSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "d0bf93aa-bc16-426b-b53b-c8c90fac98a4/resource/b6136d9e-24a4-4864-adbc-adef30e62516/download/fts_requirements_funding_globalcluster_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "countryCode",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "startDate",
						"type": "String"
					},
					{
						"name": "endDate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "clusterCode",
						"type": "String"
					},
					{
						"name": "cluster",
						"type": "String"
					},
					{
						"name": "requirements",
						"type": "String"
					},
					{
						"name": "funding",
						"type": "String"
					},
					{
						"name": "percentFunded",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsIncomingFundingSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "d0bf93aa-bc16-426b-b53b-c8c90fac98a4/resource/da2fbb4e-126c-4c98-9cdc-f74f953f96d7/download/fts_incoming_funding_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "budgetYear",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					},
					{
						"name": "amountUSD",
						"type": "String"
					},
					{
						"name": "srcOrganization",
						"type": "String"
					},
					{
						"name": "srcOrganizationTypes",
						"type": "String"
					},
					{
						"name": "srcLocations",
						"type": "String"
					},
					{
						"name": "srcUsageYearStart",
						"type": "String"
					},
					{
						"name": "srcUsageYearEnd",
						"type": "String"
					},
					{
						"name": "destPlan",
						"type": "String"
					},
					{
						"name": "destPlanCode",
						"type": "String"
					},
					{
						"name": "destPlanId",
						"type": "String"
					},
					{
						"name": "destOrganization",
						"type": "String"
					},
					{
						"name": "destOrganizationTypes",
						"type": "String"
					},
					{
						"name": "destGlobalClusters",
						"type": "String"
					},
					{
						"name": "destLocations",
						"type": "String"
					},
					{
						"name": "destProject",
						"type": "String"
					},
					{
						"name": "destProjectCode",
						"type": "String"
					},
					{
						"name": "destEmergency",
						"type": "String"
					},
					{
						"name": "destUsageYearStart",
						"type": "String"
					},
					{
						"name": "destUsageYearEnd",
						"type": "String"
					},
					{
						"name": "contributionType",
						"type": "String"
					},
					{
						"name": "flowType",
						"type": "String"
					},
					{
						"name": "method",
						"type": "String"
					},
					{
						"name": "boundary",
						"type": "String"
					},
					{
						"name": "onBoundary",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "firstReportedDate",
						"type": "String"
					},
					{
						"name": "decisionDate",
						"type": "String"
					},
					{
						"name": "keywords",
						"type": "String"
					},
					{
						"name": "originalAmount",
						"type": "String"
					},
					{
						"name": "originalCurrency",
						"type": "String"
					},
					{
						"name": "exchangeRate",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "refCode",
						"type": "String"
					},
					{
						"name": "createdAt",
						"type": "String"
					},
					{
						"name": "updatedAt",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsReqFundingCovidSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "d0bf93aa-bc16-426b-b53b-c8c90fac98a4/resource/3a313ca0-e283-4763-8ef4-0efeaeeb671f/download/fts_requirements_funding_covid_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "countryCode",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "typeId",
						"type": "String"
					},
					{
						"name": "typeName",
						"type": "String"
					},
					{
						"name": "startDate",
						"type": "String"
					},
					{
						"name": "endDate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "requirements",
						"type": "String"
					},
					{
						"name": "funding",
						"type": "String"
					},
					{
						"name": "covidFunding",
						"type": "String"
					},
					{
						"name": "covidPercentageOfFunding",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsReqFundingSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "d0bf93aa-bc16-426b-b53b-c8c90fac98a4/resource/a1273a2a-7fa5-4233-8ba5-d756abc2baee/download/fts_requirements_funding_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "countryCode",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "typeId",
						"type": "String"
					},
					{
						"name": "typeName",
						"type": "String"
					},
					{
						"name": "startDate",
						"type": "String"
					},
					{
						"name": "endDate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "requirements",
						"type": "String"
					},
					{
						"name": "funding",
						"type": "String"
					},
					{
						"name": "percentFunded",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_kenfoodprice_p')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "pqTarget",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datakind_test_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('datakind_test_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_IPC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_IPC_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_dataKindPostgres')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service for Postgres DB",
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('ls_dataKindPostgres_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_fewsData')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_fewsData_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_fewsDataKenFoodSecurity')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_fewsDataKenFoodSecurity_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_fewsDataSomFoodSecurity')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_fewsDataSomFoodSecurity_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_hotosm')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_hotosm_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_KenFoodPrices')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_KenFoodPrices",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 15,
						"startTime": "2022-12-21T08:23:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_KenFoodPrices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenfoodpriceSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "e0d3fba6-f9a2-45d7-b949-140c455197ff/resource/517ee1bf-2437-4f8c-aa1b-cb9925b9d437/download/wfp_food_prices_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "admin1",
						"type": "String"
					},
					{
						"name": "admin2",
						"type": "String"
					},
					{
						"name": "market",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "commodity",
						"type": "String"
					},
					{
						"name": "unit",
						"type": "String"
					},
					{
						"name": "priceflag",
						"type": "String"
					},
					{
						"name": "pricetype",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "usdprice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_humdata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_humdata_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_injectionsa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_injectionsa_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenFoodPrice_copied')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "KenFoodPrice",
						"folderPath": "copyTarget",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "admin1",
						"type": "String"
					},
					{
						"name": "admin2",
						"type": "String"
					},
					{
						"name": "market",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "commodity",
						"type": "String"
					},
					{
						"name": "unit",
						"type": "String"
					},
					{
						"name": "priceflag",
						"type": "String"
					},
					{
						"name": "pricetype",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "usdprice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenFoodPrice')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "ds_KenFoodPrice_copied",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~>  ds_KenFoodPrice_copied",
							"dataset": {
								"referenceName": "ds_KenFoodPrice_copied",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared ds_KenFoodPrice_copied = let AdfDoc = AzureStorage.BlobContents(\"https://pcoulibalystorage.blob.core.windows.net/datakind/copyTarget/KenFoodPrice\"),Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared UserQuery = let Source = #\"ds_KenFoodPrice_copied\",\r\n  #\"Removed top rows\" = Table.Skip(Source, 1) in #\"Removed top rows\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenFoodPrice_copied')]"
			]
		}
	]
}